body{
   background-image: conic-gradient(rgb(105, 58, 1),red,rgb(126, 126, 4),rgb(73, 4, 73),rgb(2, 2, 75));
   background-repeat: no-repeat;
}

.pic {
    width: 90%;
}
.pic img{
    flex-basis: 36%;
    height:500px;
    border-radius: 50px;
    box-shadow: 0px 0px 20px yellow;

}
a{
    color: white;
     text-decoration: none;
     box-shadow: 0px 0px 20px yellow;
     background-color: darkgreen;
}

div{
    font-size: 30px;
    text-align: center;
}

img{
    width:600px;
    height:600px;
    margin:30px;
    border-radius: 30px;
    box-shadow: 0px 0px 20px yellow;
}